<ion-navbar robibblue *navbar>
  <ion-title>
    信用卡申请
  </ion-title>
</ion-navbar>

<ion-content class="page2">
  <div>

    <h4>
      您填写个人信息:
    </h4>
    <ion-item>

      <ion-label>中文姓名</ion-label>
      <ion-input type="text" [(ngModel)]="mCzName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>姓名拼音</ion-label>
      <ion-input type="text" [(ngModel)]="mCzPinyin"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>身份证</ion-label>
      <ion-checkbox robibblue [(ngModel)]="mChecked"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>身份证号码</ion-label>
      <ion-input type="number" [(ngModel)]="mIdNumber" [disabled]="!mChecked"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>出生日期</ion-label>
      <ion-input type="number" [(ngModel)]="mBirthday"></ion-input>

    </ion-item>

    <ion-item>
      <ion-label>教育状况</ion-label>
      <ion-select [(ngModel)]="mEducation" okText="是" cancelText="否">
        <ion-option *ngFor="let education of basemessages.educations">{{education}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>婚姻状况</ion-label>
      <ion-select [(ngModel)]="mMarriage" okText="是" cancelText="否">
        <ion-option *ngFor="let marriage of basemessages.marriages">{{marriage}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>现居住年限</ion-label>
      <ion-input type="text" [(ngModel)]="mLiveYear"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>住宅状况</ion-label>
      <ion-input type="text" [(ngModel)]="mHourseStatue"></ion-input>

    </ion-item>
    <ion-item>
      <ion-label>个人年收入</ion-label>
      <ion-input type="text" [(ngModel)]="mAnnualIncome"></ion-input>

    </ion-item>
    <ion-item>
      <ion-label>单位全称及部门</ion-label>
      <ion-input type="text" [(ngModel)]="mUnit"></ion-input>

    </ion-item>
    <ion-item>
      <ion-label>现单位工作年限</ion-label>
      <ion-input type="text" [(ngModel)]="mUnitYear"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>职业</ion-label>
      <ion-select [(ngModel)]="mJob" okText="是" cancelText="否">
        <ion-option *ngFor="let job of basemessages.jobs">{{job}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>行业种类</ion-label>
      <ion-select [(ngModel)]="mIndustryCategory" okText="是" cancelText="否">
        <ion-option *ngFor="let IndustryCategory of basemessages.industry_categorys">{{IndustryCategory}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>职务</ion-label>
      <ion-select [(ngModel)]="mPost" okText="是" cancelText="否">
        <ion-option *ngFor="let post of basemessages.posts">{{post}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>职称</ion-label>
      <ion-select [(ngModel)]="mProfessional" okText="是" cancelText="否">
        <ion-option *ngFor="let professional of basemessages.professionals">{{professional}}</ion-option>
      </ion-select>
    </ion-item>
    <div padding>
      <button robibblue block (click)="pushPage()">下一步</button>
    </div>
  </div>

</ion-content>
